body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

nav {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(173, 149, 228);
    padding: 0 255px 0 250px;
}

nav div {
    display: flex;
    flex-direction: row;
}

nav a {
    margin: 10px;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #000;
}

nav a:visited {
    text-decoration: none;
    color: #000;
}

nav a:hover {
    color:rgb(190, 190, 190);
}

nav img {
    margin: 0 20px 0 20px;
}

p {
    text-align: center;
    border: 1px solid black;
    width: 50%;
    margin: 20px;
    padding: 5px;
}

.linha {
    display: flex;
    flex-direction: row;
}

.colunaEsquerda {
    margin: 30px 30px 30px 250px;
    border: 1px solid black;
}

.colunaDireita {
    margin: 30px 250px 30px 30px;
    border: 1px solid black;
}

/* Barra de Pesquisa */

form[name="barra_pesquisa"]{
    display: flex;
    padding-left: 60px;
    width: 450px;
    margin: 20px;
    align-items: center;
}


form input[name=search] {
    display: flex;
    padding: 5px;
    font-size: 17px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border: transparent;
    border-radius: 5px;
}

form button {
    display: flex;
    float: left;
    padding: 7px;
    background: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

form button:hover{
    color: rgb(250, 160, 57);
}

/* Barra de Pesquisa */

/* Carrinho */

.fa.fa-shopping-cart{
    display: flex;
    font-size:30px;
}
/* Carrinho */

.fa.fa-user-circle{
    display: flex;
    font-size: 30px;
}

.rodape {
    background-color: rgb(190, 190, 190);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}






