.alert {
    padding: 1.25rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    font-size: 1.2rem;
}

.alert-success {
    color: #000000;
    background-color: #f3a63d;
    border-color: black;
	border-radius: 10px;
	font-size: 16px;

}

.alert-warning {
    color: #000000;
    background-color: #f9ca30;
    border-color: #967511;
}

.alert-danger {
	color: #000000;
    background-color: #fe596a;
    border-color: black;
	border-radius: 10px;
	font-size: 16px;
}

.alert-info {
    color: #0c5460;
    background-color: #2fdffe;
    border-color: #2f71fe;
}

.error {
    padding-left: 10px;
    color: red;
}

a.btn.btn-primary.btn-sm{
	color: white; 
}

.row-barras{
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
	align-items: center;
	justify-content: center;
}

.colors {
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .2);
}